@use "sass:math";
//======================================== Підключення міксінів =================================================
@import "./utils/mixins";
//======================================== Підключення шрифтів ==================================================
//&display=swap - додати при підключенні через плагін
// @import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,italic,700italic&display=swap);

// Підключити, якщо є локальні файли шрифтів
//@import "fonts/_fonts";

//======================================== Підключення іконкових шрифтів ========================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/_icons";

//?======================================== За замовчуванням шрифт ==============================================

$fontFamily: "Montserrat", sans-serif;
$fontSize: rem(18);

$mainColor: #ffffff;
$background-color: #1e2935;
$bgc-burger: #1a2633;
$color-gray: #80828d;
$color-tex: #bcc9da;
$hover-text: #227ce4;

$text-des: #9fccff;
$bgc-des: #23303f;

//======================================== Налаштування адаптивної сітки ========================================
@import "./base/adaptive";
//======================================== Обнулення ============================================================
@import "./base/zeroing";
@import "./base/settings";
//======================================== Wrapper ==============================================================
@import "./base/wrapper";
//======================================== Налаштування контейнера ==============================================
@import "./utils/container";
//======================================== Підключення змінних ==================================================
@import "./utils/variable";
//======================================== Підключення плейсхолдерів ============================================
@import "./utils/placeholder";
//======================================== Підключення components ===============================================
@import "./common/components";
@import "./common/button";
@import "./common/select";
@import "./common/popup";
@import "./common/form";
@import "./common/slider";
@import "./common/spollers";
@import "./common/preloader";
//===============================================================================================================
@import "./layout/header";
@import "./layout/footer";

//======================================== Підключення сторінок =================================================
@import "./page/index";
@import "./page/storage";
@import "./page/broker";
@import "./page/contacts-page";
@import "./page/error";
//===============================================================================================================

@keyframes animate-btn {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}
//===============================================================================================================
.slider-teams {
   // .slider-teams__button-hero-l
   &__button-hero-l,
   &__button-hero-r {
      @media screen and (max-width: $mobile) {
         display: block;
         padding: rem(10);
         background-color: rgb(26, 38, 51, 0.7);
         @include adaptiveValue("bottom", 70, 90);
      }
   }
}
//===============================================================================================================
.tabs__container {
   &:has(.spollers__title._spoller-active) .tabs__items {
      //===============================================================================================================
      @media screen and (max-width: $tablet) {
         height: calc(52.125rem + 16.25rem) !important;
      }
      //===============================================================================================================
      @media screen and (max-width: $mobile) {
         height: calc(34.75rem + 15.125rem) !important;
      }
      //===============================================================================================================
      @media screen and (max-width: em(718)) {
         height: calc(44.6875rem + 14.9375rem) !important;
      }
      //===============================================================================================================
      @media screen and (max-width: $mobileSmall) {
         height: calc(34.375rem + 14.125rem) !important;
      }
   }
}
//===============================================================================================================
body::-webkit-scrollbar {
   width: rem(5); /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
   background-color: transparent; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
   background-color: $text-des; /* цвет бегунка */
   border-radius: rem(5); /* округлось бегунка */
   border: rem(1) solid $mainColor; /* отступ вокруг бегунка */
}
//===============================================================================================================
