// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

%noselect {
   user-select: none;
}
//===============================================================================================================
%padding {
   @include adaptiveValue("padding-top", 120, 60);
   @include adaptiveValue("padding-bottom", 120, 60);
}
//===============================================================================================================
%bg {
   background-attachment: scroll;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
